.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

#wordToFind {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  text-align: center;
}

#keyboard {
  width: 50%;
  margin: auto;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
