#keyboard > .letter {
  font-size: 2em;
  width: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0.2em;
  padding: 0.2em;
}

#keyboard > .letter.used {
  background-color: grey;
}

#keyboard > .letter > span {
  margin: auto;
}
